# introduction to python

# heading1
## heading2
### heading3
#### heading 4

to create bullet points
- variables
* keywords
+ constants

In [1]:
#create a variable 
a=10

In [2]:
type(a)

int

In [4]:
#assign multiple value to multiple variables
a=5;b=6;c=7

In [6]:
#assign same value to multiple variables 
a=b=c=10

In [7]:
#python is case sensitive
Var1=35
var1=45
new=78

In [8]:
new

78

In [9]:
"""this is the sentence for comments
"""
a

10

In [21]:
###int 
x=18

In [22]:
#check data type
type(x)

int

In [23]:
###float
y=1.7

In [24]:
type(y)

float

In [25]:
#add integer and float and check data type
z=x+y

In [26]:
z

19.7

In [18]:
###bool
B=True
type(B)

bool

In [19]:
##complex
C=3+5j
type(C)

complex

In [20]:
##string
S= "hello"
type(S)

str

In [45]:
a= "de" + "1" + "oitte"

In [46]:
a

'de1oitte'

In [47]:
#for multiple outputs use print
print(a)
print(S)
print(x)

de1oitte
hello
18

In [48]:
#different formats of output
print (S ,"i am working in" , a , "for last" , x ,"years.")

hello i am working in de1oitte for last 18 years.

In [49]:
print ("the value of a is {}".format(a))

the value of a is de1oitte

In [50]:
print("welcome")
print("to all")

welcome
to all

In [69]:
print ("welcome" ,end=' ')
print ("to deloitte")

welcome to deloitte

In [70]:
## user input
## input() function
input1= input()

45

In [71]:
type(input1)

str

In [72]:
input1=int(input())

34

In [73]:
type(input1)

int

In [74]:
input2=float(input())

1.6

In [75]:
type(input2)

float

In [78]:
input1=input()
input2=input()

23
34

In [79]:
#split method to write multiple inputs in single line
input3=input("enter two inputs").split(' ')

enter two inputs34 45

In [80]:
input4=input().split()

34

In [81]:
input4

['34']

In [82]:
id(a)

1808760063152

In [ ]:
#hands on exercise

In [41]:
a1= int(input())
a2 = int(input())

32
45

In [2]:
a3=float(input())
print(round(a3,2))

3.4567
3.46

In [4]:
a4=input("enter three strings:").split(',')

enter three strings:hello,welcome,deloitte

In [5]:
a5=float(input())
a6=float(input())
print(a5+a6)

70
60
130.0

In [7]:
a7=input().split(' ')

34 45

In [8]:
print(" shobhit")

 shobhit

In [9]:
a=6;b=7;c=8
print(a);print(b);print(c)

6
7
8

In [11]:
a8=int(input())
a9=int(input())
print(a8+a9)

46
56
102

In [12]:
s="lucky"
print(s)

lucky

In [14]:
prog=input("preferred language ")

preferred language python

In [15]:
a10=input()
a10+"1"
#a10+str(1)

12

'121'

In [16]:
#iterable : ability to do index and write for loop on that object
#indexing and slicing
new="saturday"

In [17]:
new

'saturday'

In [18]:
#extract 't'--> new 
#python index starts from 0
new[2]

't'

In [19]:
#ectract 'u'
new[3]

'u'

In [20]:
#extract 'u' to 'a'
#[start :end] end is exclusive
new[3:7]

'urda'

In [ ]:
#extract 0 to 3rd position

In [21]:
#display all the elements using :
new[:]

'saturday'

In [22]:
new[2:]

'turday'

In [23]:
#negative indexing
new[7]

'y'

In [24]:
new[-1]

'y'

In [25]:
#extract odd position elements
#[start:end:step]
new[1:len(new)+1:2]

'audy'

In [26]:
#extract odd position elements in reverse order
new[::-2]

'ydua'

In [27]:
#strings are immutable
#cannot do changes on a created string object.
first="welcome"
second="to deloitte"

In [29]:
#change first letter into s
first[0:3]+'S'+first[4:]

'welSome'

In [30]:
#add value 7 into string object
second+"7"

'to deloitte7'

In [32]:
#add value 6 to the string object 'second' at 4th position
second[0:4]+'6'+second[4:]

'to d6eloitte'

In [33]:
#display the elemnt of 'first' object 3 times
first*3

'welcomewelcomewelcome'

In [34]:
#add 2 string objects using +
first+second

'welcometo deloitte'

In [35]:
#create a string object str1="welcome to our country"
str1="welcome to our country"

In [36]:
#eXtract country froM sentence
print(str1[15:])

country

In [42]:
#even positions elements
print(str1[0::2])

wloet u onr

In [39]:
#add 6 to third position
print(str1[:3]+'6'+str1[3:])

wel6come to our country

In [44]:
#CHECK GIVEN NO IS LESS THAN 15 OR NOT
num=int(input())
if num<15 :
    print(num,'is less than 15')
print('exit')

12
12 is less than 15
exit

In [46]:
num =int(input())
if num>0:
    print('be positive')
print ('exit')

12
be positive
exit

In [54]:
##prog checks if no is positive or negative
num=int(input())
if num>=0:
    print(num, 'is positive')
else :
    print(num, 'is negative')

0
0 is positive

In [56]:
#CHECK NUMBER IS EVEN OR ADD
num=int(input())
if num % 2==0:
    print("even")
else:
    print("odd")

0
even

In [59]:
##elif statement
num=int(input())
if num >0:
    print (num, 'is positive')
elif num<0:
    print(num, 'is negative')
else :
    print ('zero')

-7
-7 is negative

In [64]:
marks=int(input())
if marks >80:
    print ('distinction')
elif marks >= 60 and  marks <=80:
    print ('FIRST CLASS')
else :
    print ('pass')

44
pass

In [66]:
##nested if else statements
n=int(input())
if n>=0:
    if n==0:
        print('zero')
    else:
        print('positive')
else:
    print('negative')

0
zero

In [68]:
#ELIGIBLE FOR VOTING OR NOT
age =int(input())
if age >=18:
    print('You can give vote')
else :
    print('not eligible')

80
You can give vote

In [72]:
#NUMBER DIVISIBLE BY 7 
num=int(input())
if num % 7==0:
    print ('divisible by 7')
else :
    print ('not divisible by 7')

89
not divisible by 7

In [82]:
#LAST DIGIT DIVISIBLE BY 3
num = int(input("enter any number"))
if (num % 10) % 3 ==0: 
    print ('last digit is divisible by 3')
else :
    print ('not divisible')

144
not divisible

In [79]:
cityname =str(input())
city=cityname.capitalize();
if city.lower == "Delhi":              #we can use lower as well as capitalize syntax
    print ('Red Fort')
elif city.lower == "Agra":
    print ('Taj Mahal')
elif city.lower == "Jaipur":
    print ('Jal Mahal')
else :
    print ('not a valid city')

agra
Taj Mahal

In [85]:
#PRINT ONE DIGIT , TWO DIGIT , THREE DIGIT NUMBER
num=int(input())
if num<10:
    print (num , 'is one digit number')
elif num >= 10 and num <100:
    print ( num ,'is two digit number ')
elif num >=100 and num <1000:
    print (num , ' is three digit number')
else :
    print (num , ' has more than 3 digit')

1000
1000  has more than 3 digit

In [95]:
#MAXIMUM OF 3 NUMBERS
maxl = []
maxn = 0
for i in range (0,3):
    l=int(input())
    maxl.append(l)
    
if maxl[0]==maxl[1]   and maxl[1] == maxl[2]:
    print("all are equal")
elif maxl[0] == maxl[1] or maxl[1] == maxl[2] or maxl[2] == maxl[0]:
    print (" two num are equal")

for num in maxl:
    if num>maxn:
        maxn=num
        
print (maxn)

23
23
21
 two num are equal
23

In [88]:
avgmarks = int(input())
if avgmarks >=70:
    print('DISTINCTION')
elif avgmarks >=60 and  avgmarks <70:
    print ('FIRST')
elif avgmarks >=50 and avgmarks<60:
    print ('SECOND')
elif avgmarks >=40 and avgmarks <50:
    print ('THIRD')
elif avgmarks <40 :
    print ('FAIL')

39
FAIL

In [89]:
#check whether given number lis between 5 and 15
num =int(input())
if num >5:
    if num <=15:
        print ('given number lies between 5 and 15')
    else :
        print(' given number is greater than 15')
else:
    print ('given number is less than 5')

3
given number is less than 5

In [90]:
a=9
if(a>5 and a<=10):
    print ('hello')
else:
    print ('bye')

hello

In [96]:
#max of 3 number another method to solve
n1,n2,n3 =int(input("enter no1:")), int(input("enter no2:")),int(input("enter no3:"))
if n1>n2 and n1>n3 :
    print("no1 is maximum")
elif n2>n3 and n2 >n1:
    print("no2 is maximum")
elif n3>n1 and n3>n2:
    print ("no3 is maximum")
elif n1==n2 and n1>n3:
    print(n1 , 'is the maximum')
elif n2==n3 and n2>n1:
    print( n2 , 'is maximum')
elif n1==n3 and n1>n2:
    print (n3, ' is maximum')
else :
    print ('all are equal')

enter no1:23
enter no2:23
enter no3:21
23 is the maximum

In [98]:
#find average of two numbers entered by user
a= int(input())
b= int(input())

avg=(a+b) / 2
print(x)

45
55
50.0

In [99]:
#find remainder when a number is divided by 2
a=int(input())
result=a%2

print(x)

35
1

In [100]:
a=34
b=80

a>b

False

In [101]:
#find square of number given by user
a=int(input())
y= a**2

print (y)

55
3025

In [104]:
#program to show invalid number if number is not between 1 and 10
num= int (input())
if num >=1 and num <10:
    print ("valid number")
else :
    print("invalid number")

77
invalid number

In [105]:
#program to display last digit of number
num=int(input())
x=num%10
print(x)

34
4

In [106]:
#take 2 values from user and print greatest among them
a= int(input())
b=int(input())
if a>b :
    print (a)
else :
    print (b)

23
34
34

In [108]:
#print hello if no multiple of 5 otherwise bye
a=int(input())

if a%5 ==0:
    print ("hello")
else :
    print ("bye")

45
hello

In [3]:
units =int(input("enter no of units"))
if units <=100:
    bill=0
    print(bill)
elif units >100 and units <=200:
    bill = (units -100)*5
    print(bill)
elif units >200 :
    bill = 500 + ((units - 200)*10)
    print ("amount to pay :", bill)

enter no of units678
amount to pay : 5280

In [ ]:
###loops 
"""
-for loop
-while loop
-control statements
"""
##functions
"""

"""

In [ ]:
##for loop
#syntax: for i in iterable:
              #statements

In [4]:
#iterating over a string
print("/nString Iteration")
s="jigsaw"
for i in s:
    print (i)

/nString Iteration
j
i
g
s
a
w

In [5]:
#iterating over range 0 to n-1

n=4 
for i in range (n):
    print(i)

0
1
2
3

In [11]:
#use the string index number to loop through the string 
t ='World'
    
for i in range(len(t)):                #range() takes 0 to len(t)
    print(t[i])

W
o
r
l
d

In [9]:
#PRINT 'HELLO ' 3 TIMES 
count =0
while (count<3):
    count = count +1
    print ("hello")

hello
hello
hello

In [3]:
#program to add natural number upto n
#sum = 1+2+3+....+n

#to take input from the user ,
#n = int(input("enter n:"))

n=10
#initialize sum and counter
sum=0
i=1

while i<=n:
    sum=sum +i
    i =i+1   #update counter
    
#print the sum 
print ("the sum is " , sum)

the sum is  55

In [10]:
#same problem in for loop 
n=int(input("enter no : ")) 
sum = 0
i=1
for i in range (n):
    sum = sum+i

print (sum)

enter no : 11
55

In [8]:
#break 
#stop the iteration when letter is 'a' or 'e'

s='jigsaw-unext'
for letter in s:
    print (letter)
    if letter=='a' or letter =='e' :
        break
print('out for loop')

j
i
g
s
a
out for loop

In [23]:
#same problem in while loop
s= 'jigsaw-unext'
i=0
while True :
    print(s[i])
    if s[i] == 'a' or s[i]=='e':
        break
    i+=1
print ('out of while loop')

j
i
g
s
a
out of while loop

In [25]:
#continue statement

for i in range(1,11):
    
#if i==6 , then continue to next iteration without printing
    if i==6 or i==7:
        continue
    else:
        print(i,end=" ")

1 2 3 4 5 8 9 10

In [ ]:
##pass stament 
##null statement 
#pass stament can be used in empty functions
def newfunction():
    pass

#if we want to write codes later then we use pass function

In [ ]:
#pass statement can be used in empty class
class gk:
    pass

In [ ]:
#pass statement can be used in for loop
n=10
for i in range (n):
    pass

In [ ]:
##user defined functions
##def  function_name(parameters):
    """docstring"""
   ## statement(s)

In [28]:
def fun():
    print ("welcome to prog")

In [29]:
fun()

welcome to prog

In [30]:
def square(x):
    return x**2

In [31]:
square(4)

16

In [32]:
def evenodd(x):
    if (x%2==0):
        print ("even")
    else:
        print ("odd")

In [33]:
evenodd(7)

odd

In [38]:
#with default arguments
def myfunc(x,y=50):
    print(x)
    print(y)

In [39]:
myfunc(5)

5
50

In [40]:
def myfunc(x,y=50):
    return x+y

In [41]:
myfunc(60)

110

In [42]:
def fun2(name,msg='welcome'):
    print ('hello', name,msg)
fun2("sheetal")

hello sheetal welcome

In [ ]:
#built in functions
type(), print (),min (), max(), len().....

In [43]:
#anonymous function (lambda function)(one line function )
square1=lambda x:x**2

In [44]:
square1(3)

9

In [45]:
sum1=lambda x,y:x+y

In [46]:
sum1(2,3)

5

In [11]:
##python prog to illustrate *args for a variable number of arguments
def myFun(*args):
    for arg in args:
        print(arg)
        
myFun('hello', 'welcome', 'to' , 'jigsaw')

hello
welcome
to
jigsaw

In [13]:
#python prog to illustrate *args with a first extra argument
def myFun(arg1, *args):
    print("First argument:" , arg1)
    for arg in args :
        print( "next argument through *argv : " , arg)
        
myFun('hello', ' welcome', ' to' , 'jigsaw')

First argument: hello
next argument through *argv :   welcome
next argument through *argv :   to
next argument through *argv :  jigsaw

In [15]:
##python prog to illustrate *kwargs for variable number of keyword arguments
def myFun(**kwargs):
    for key,value in kwargs.items():
        print ((key,value))
        
#driver code
myFun(first = 'hi', mid ='welcome', last='all')

('first', 'hi')
('mid', 'welcome')
('last', 'all')

In [22]:
#python program to illustrate *kwargs for a variable number of keyword arguments with one extra argument
def myFun(arg1, **kwargs):
    print  (arg1)
    for key,value in kwargs.items():
        print ((key,value))
        
#driver code
myFun("hi", first ='welcome', mid='to', last='program')

hi
('first', 'welcome')
('mid', 'to')
('last', 'program')

In [26]:
#using both *args and *kwargs to call a function

def myFun(arg1, arg2,arg3 ):
    print ("arg1:", arg1)
    print ("arg2:" , arg2)
    print ("arg3:", arg3)
    
#now we can use*args and *kwargs to pass arguments to this function
args = ("geeks", "for", "geeks")
myFun (*args)
kwargs = {"arg1" : "geeks", "arg2" : "for ", "arg3": "geeks"}
myFun(**kwargs)

arg1: geeks
arg2: for
arg3: geeks
arg1: geeks
arg2: for
arg3: geeks

In [28]:
##generators
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3
#driver code to check above generator func
for value in simpleGeneratorFun():
    print(value)

1
2
3

In [30]:
y= simpleGeneratorFun()
next(y)

1

In [31]:
next(y)

2

In [32]:
next(y)

3

In [33]:
x=simpleGeneratorFun()
print(list(x))

[1, 2, 3]

In [34]:
def mygenerator():
    print('first item')
    yield 10
    
    print('second item')
    yield 20
    
    print('last item')
    yield 30

In [41]:
new1=mygenerator()
next(new1)

first item

10

In [42]:
next(new1)

second item

20

In [43]:
next(new1)

last item

30

In [44]:
def mygenerator():
    print('first item')
    yield 10
    
    return
    
    print('second item')
    yield 20
    
    print('last item')
    yield 30

In [45]:
new1=mygenerator()
next(new1)

first item

10

In [47]:
#use for loop with generator function
def get_sequence_upto(x):
    for i in range (x):
        yield i

In [48]:
seq=get_sequence_upto(5)
next(seq)

0

In [49]:
next(seq)

1

In [57]:
#square of sequence values 
def square_of_sequence(x):
    for i in range (x):
        yield i*i

In [59]:
s=square_of_sequence(4)
print(next(s))
print(next(s))
print(next(s))
print(next(s))

0
1
4
9

In [ ]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3
### Generator object
x=simpleGeneratorFun()
#x is a generator object 
#list()
#next

In [ ]:
##deCORATOR

In [61]:
#PRINT CHARACTERS From string at even index
s= input("enter string")
for i in range (len(s)):
    if(i%2==0):
        print (s[i])

enter stringshobhit
s
o
h
t

In [62]:
##print first 10 even numbers in reverse order
for i in range (20,0,-2):
    if i %2 ==0:
        print(i)

18
16
14
12
10
8
6
4
2
0

In [154]:
##print 10 multiples of any nymber
x=int(input("enter any number:"))
for i in range(1,11):
    print(x*i , end=" ")

enter any number:67
67 134 201 268 335 402 469 536 603 670

In [66]:
##factorial of a number
n=int(input("enter any number :"))
factorial=1
for i in range (1,n+1):
    factorial=factorial*i
    
print(factorial)

enter any number :67
36471110918188685288249859096605464427167635314049524593701628500267962436943872000000000000000

In [73]:
##divisible by 11 but not by 2
for i in range (100,500):
    if ((i%11==0) and (i%2!=0)):
        print(i, end=" ")

121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

In [76]:
##first 10 natural numbers using while loop
i=1
while (i <=10):
    
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [156]:
##count  of digits in a number
n=int(input())
count=0
while(n>0):
    count=count +1
    n=n//10
print (count)

56
2

enter a number567
3

In [92]:
##sum of even numbers using while loop
i=1
sum=0
while (i<=27102000):
    if (i%2==0):
        sum =sum+i
    i=i+1
print(sum)

183629614551000

In [95]:
##10 multiples of any number
n=int(input("enter any number:"))
i=1
while (i <=10):
    print (i*n , end = " ")
    i=i+1

enter any number:6
6 12 18 24 30 36 42 48 54 60

In [161]:
##square of number using while loop
n = int(input("enter no: "))


while n <= 5:
    squareNum = n**2
    print(n,squareNum)
    n += 1

enter no: 67

In [107]:
##avg of 5 numbers using while loop
sum=0
i=1
while (i<=5):
    n=int(input("enter any number : "))
    i+=1
    sum+=n
print(sum/5)

enter any number : 4
enter any number : 6
enter any number : 7
enter any number : 8
enter any number : 9
6.8

In [127]:
##print hello excepy y and o
s='abcdoyoyefygoh'

i=0
while(i<len(s)):
    if(s[i]=='o' or s[i]=='y'):
        i+=1
        continue
    else:
        print(s[i], end=" ")
    i+=1

a b c d e f g h

In [111]:
s= 'jigsaw-unext'
i=0
while True :
    print(s[i])
    if s[i] == 'a' or s[i]=='e':
        break
    i+=1
print ('out of while loop')

j
i
g
s
a
out of while loop

In [130]:
##sum of digits of a number
n=int(input("enter any number:"))
sum=0
while n>0:
    d=n%10
    n=n//10
    sum+=d
print("sum of digits of a number is :" , sum)

enter any number:45
sum of digits of a number is : 9

In [131]:
##function for name and age 
def show_employee(n, s=9000):
    print("Name: ",n, "salary: ",s)
    
show_employee("Shobhit" , 50000)

Name:  Shobhit salary:  50000

In [152]:
def display_student (name,age):
    print (name ,age)
    
##call using original name 
#display_student ("emma", 26)

#assign new name 
showStudent = display_student 
showStudent("emma",26)

emma 26

In [153]:
def demo (name,age):
    print (name,age)
    
demo("ben ", 25)

ben  25

In [174]:
##test prime or not
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
                break
        return True 
x=int(input("enter no"))
test_prime(x)

enter no4

False

In [134]:
##accept cost price and show tax
cp=int(input("enter cost price:"))
if (cp >100000):
    tax ="15%"
elif (50000<cp<=100000):
    tax ="10%"
else:
    tax="no tax"
    
print(tax)

enter cost price:49999
no tax

In [137]:
##prog to check person is senior citizen or not
age=int(input("enter age"))
if (age >=60):
    print("senior citizen")
else :
    print ("still young ")

enter age60
senior citizen

In [141]:
n= int(input("enter a number :"))
if (n %2==0) or (n%3==0):
    print ("divisible by 2 or 3")
    
else:
    print("not divisible by either ")

enter a number :78
divisible by 2 or 3

In [144]:
temp = float(input("enter any temperature"))
if (temp >=100):
    print ("boiling point reached")
else :
    print ("not boiling")

enter any temperature99.5
not boiling

In [151]:
alpha = str(input("enter any alphabet : "))
if ((alpha.lower() == "a") or (alpha.lower() == "e") or (alpha.lower()== "i") or (alpha.lower() == "o") or (alpha.lower() == "u")):
    print (" vowels ")
else :
    print (" not vowels")

enter any alphabet : A
 vowels

In [165]:
##vowel or not
ch=input("enter any character ")
vow = "aeiouAEIOU"
if ch in vow:
    print("vowel")
else :
    print ("not vowel")

enter any character a
vowel

In [166]:
##check person is eligible for exam or not
nwd= int(input("enter no of working days"))
nda= int(input("enter no of days absent"))
per= (nwd-nda)/nwd *100
if per <75:
    print("not eligible")
else :
    print ("eligible")

enter no of working days100
enter no of days absent67
not eligible

In [168]:
##calculate total wages
age = int(input("enter your age :"))
sex= input ("enter sex M/F :")
nd= int(input("enter no of days worked :"))
if age >=18 and age < 30 and sex.upper( ) == 'M':
     amt = nd*700
     print("Total wages is : ", amt)
elif age >=18 and age < 30 and sex.upper( ) == 'F':
     amt = nd*750
     print("Total wages is : ", amt)
elif age >=30 and age <= 40 and sex.upper( ) == 'M':
     amt = nd * 800
     print("Total wages is : ", amt)
elif age >=30 and age <= 40 and sex.upper( ) == 'F':
     amt = nd * 850
     print("Total wages is : ", amt)
else:
     print("Enter appropriate age")

enter your age40
enter sex M/F m
enter no of days worked77
Total wages is :  61600

In [169]:
##calculate area of circle if radius is given
def area(radius):
    area=3.14*radius*radius
    print(area)
radius=int(input())
area(radius)

88
24316.16

In [ ]:
##write a program to show 1 as sunday 2 as monday
num=int(input("Enter any number between 1 to 7 : "))
if num==1:
    print("Sunday")
elif num==2:
    print("Monday")
elif num==3:
    print("Tuesday")
elif num==4:
   print("Wednesday")
elif num==5:
   print("Thursday")
elif num==6:
   print("Friday")
elif num==2:
   print("Saturday")
else:
   print("Please enter number between 1 to 7")