This case study is to get familiarized with Data manipulation using Pandas. The dataset involves records of terrorist attacks that took place around the world since 1970. Description of columns are given wherever necessary along with hints to answer the questions.
Answer the following questions using the dataset: terror_gtd.csv

Which country had highest attacks since 1970? How many attacks happened in India?

In [1]:
import pandas as pd
import numpy as np

In [60]:
terror=pd.read_csv("D://Files//terror_gtd.csv",encoding='latin')

In [7]:
terror.head(2)

,eventid,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,summary,success,suicide,nkill,nwound
0,1.970000e+11,1970,0,0,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,NaN,NaN,1,0,1.0,0.0
1,1.970000e+11,1970,0,0,Mexico,North America,NaN,Mexico city,NaN,NaN,1,0,0.0,0.0

In [15]:
terror['iyear'].unique()

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1986, 1982, 1983, 1984, 1985, 1987, 1988, 1989, 1990, 1991,
       1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015], dtype=int64)

In [14]:
#Which country had highest attacks since 1970?
terror['country_txt'].value_counts().head(1)

Iraq    18770
Name: country_txt, dtype: int64

In [6]:
#How many attacks happened in India
#data['country_txt'].unique().tolist()
#data[data['country_txt']=="India"]
terror[terror['country_txt']=="India"].shape[0]

9940

In [17]:
#How many attacks happened in India and upto 7 people were killed?
#Hint: Use the country_txt and nkill column.
terror[(terror['country_txt']=='India')&(terror['nkill']<=7)].shape[0]

9184

In [29]:
# Extract any 4 cities and summary for attacks above
# Hint: Use country_txt, nkill,city and summary columns
terror_1=terror.query("country_txt=='India' & nkill<=7")[['city','summary']].head(5)   
terror_1

            city                                            summary
1185   New Delhi                                                NaN
2688  Samastipur  1/2/1975: The Indian Railway Minister, Lalit N...
3780   New Delhi                                                NaN
5251      Bombay                                                NaN
7266      Imphal                                                NaN

In [30]:
#In a single terror incident in India, find out top 3 cities by number killed
#Hint: Use each row as a unique terror incident.
#Use country_txt, nkill and city columns

terror.query("country_txt=='India'").sort_values('nkill',ascending=False)['city'].head(3)

81000     Mumbai
96598    Jhargam
54339     Bombay
Name: city, dtype: object

In [31]:
#In a single terror incident in India, find out top 5 cities by number killed and wounded
#Hint: Use each row as a unique terror incident. Use country_txt, nkill, nwound and city columns
#nwound : Total Number of Injured
terror.query("country_txt=='India'").sort_values(['nkill','nwound'],ascending=[False,False])['city'].head(5)

81000                Mumbai
96598               Jhargam
54339                Bombay
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

In [34]:
###6. Label all the incidents where the number killed was more than 10 as severe. How many incidents were Severe?
#Hint: Use Aggregations and manipulations using apply and map
#You can use lambda functions as well.
#Use the nkill column.
#Suppose we want to label all the incidents where the number killed was more than 10 as severe. This would involve applying a function on each element of the series, map helps in doing that
def get_label(x):
    if x>10:
        return 'Severe'
    else:
        return 'Not Severe'
terror['nkill']=terror['nkill'].map(get_label)
#You can use lambda functions as well (if else follows a special form when used with lambdas )
#terror['nkill'].map(lambda x: "Severe" if x>10 else "Not Severe")
terror['nkill'].value_counts()

Not Severe    149998
Severe          6774
Name: nkill, dtype: int64

7. How many attacks were successful that were suicide attacks? Also, how many suicide attacks were not successful?
Hint: Use suicide and success columns
1 = "Yes" The incident was a suicide attack.
0 = "No" There is no indication that the incident was a suicide attack
1 = "Yes" The incident was successful.
0 = "No" The incident was not successf

In [64]:
terror['success_suicide']=terror['suicide']+terror['success']
terror=terror.assign(success_suicide_1=terror['suicide']+terror['success'])

terror.query("success_suicide_1==2").shape[0]

4260

8. Write a function to label an incident that was both successful and suicidal
Hint: We can use apply to use a function column wise where you can use columns success and suicide in the data.

In [65]:
## We can use apply to use a function row wise or column wise
def get_label(row):
    if row['success']==1 and row['suicide']==1:
        return 1
    else:
        return 0
terror.apply(get_label,axis=1)


#terror.apply(lambda row: 1 if row['success']==1 and row['suicide']==1 else 0,axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
156767    0
156768    0
156769    0
156770    0
156771    0
Length: 156772, dtype: int64

9. Create a new category representing if the incident occurred in Afghanistan, Pakistan or India as one level of the category and all the other countries as another level. Label all other countries as ROW and new column which contains the new category as ‘Local’ in the data.
Hint: Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the category and all the other countries as another level. Use the col

In [66]:
def get_label(row):
    if row['country_txt']=='India' or row['country_txt']=='Afghnistan' or row['country_txt']=='Pakistan':
        return 'Af-Pak-India'
    else:
        return 'ROW'
#terror.apply(get_label,axis=1)

terror['Local']=terror.apply(get_label,axis=1)

In [67]:
#10.Number of incidents in Af-Pak-India vs ROW
terror['Local'].value_counts()
terror.groupby('Local').size()

Local
Af-Pak-India     22708
ROW             134064
dtype: int64

In [ ]:
-------------------------------------------------- End --------------------------------------------------------