In [9]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
max(x)

24

In [3]:
 #Reverse a list in Python
list1 = [100, 200, 300, 400, 500]
list1.sort(reverse=True)
list1

[500, 400, 300, 200, 100]

In [2]:
##Turn every item of a list into its square
#Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
[x**2 for x in numbers]

[1, 4, 9, 16, 25, 36, 49]

In [12]:
#Rename key of a dictionary
#Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict["Location"]= sample_dict.pop("city")
sample_dict
#Expected output:

#{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [13]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [15]:
##Access value 20 from the tuple
##The given tuple is a nested tuple. write a Python program to print the value 20.


tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [22]:
#Swap two tuples in Python
#Given:

tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2= tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [8]:
#Counts the number of occurrences of item 50 from a tuple
#Given:
count=0
tuple1 = (50, 10, 60, 70, 50)
for i in tuple1:
    if i==50:
        count=count+1
print(count)

2

In [9]:
tuple1.count(50)

2

In [ ]:
# set 2

In [14]:
#1. figure out programatically how many times 'here'occurs
#2. count how many time numbers occur in this sentence

assign_txt="this is a sentence with a number 56 here and 72 here"
assign_txt.count('here')

2

In [15]:
count=0
for i in assign_text.split(" "):
    i.isnumeric():
        count=count+1
        print(i)
print(count)

SyntaxError: invalid syntax (3645250827.py, line 3)

In [12]:
#extract 'e' from the given list
ls4=[3.5, 'Tiger', 10, [3,4]]
ls4[1][3]

'e'

In [13]:
# Find the functions and methods associated with the list ls4
print(dir(ls4))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [31]:
 #Given this nested list, use indexing to grab the word "hello"
w = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
w[3][1][2]

['hello']

In [17]:
 #Given two lists. Create a third list by picking an odd-index element from the first list
#and even index elements from second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
l1=list()
#l2=list()

for j in range (0,len(listTwo)):
    if j%2==0:
        l1.append(listTwo[j])
    else :
        l1.append(listOne[j])
        

print(l1)

[4, 6, 12, 12, 20, 18, 28]

In [19]:
odd=listOne[1::2]
print(odd)
even=listTwo[0::2]
print(even)

listthree=[]

listthree.extend(odd)
listthree.extend(even)

print(listthree)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]

In [21]:
listthre=odd+even
listthree

[6, 12, 18, 4, 12, 20, 28]

In [48]:
#Given an input list removes the element at index 4 and add it to the 2nd position and also,
#at the end of the list
sampleList = [54, 44, 27, 79, 91, 41]

In [49]:
sampleList.remove(91)

In [50]:
sampleList.append(91)

In [51]:
sampleList[1]=91

In [52]:
sampleList

[54, 91, 27, 79, 41, 91]

In [60]:
#Add the value 1 to each element in the given list: for loop and lambda function
l=[1,2,3,4,5]
add = lambda x:x+1 
list(map(add,l))

[2, 3, 4, 5, 6]

In [63]:
l=[1,2,3,4,5]
for i in range(0,len(l)):
    l[i] = l[i] + 1
print(l)

[2, 3, 4, 5, 6]

In [74]:
#copy one list from the other OR creating one list from existing list
list2=[1,2,5,2,1,3,2,10]
l1=list2.copy()
print(l1)

[1, 2, 5, 2, 1, 3, 2, 10]

In [75]:
for i in list2:
    l1.append(i)
print(l1)

[1, 2, 5, 2, 1, 3, 2, 10, 1, 2, 5, 2, 1, 3, 2, 10]

In [66]:
#Reverse the given tuple
tuple1 = (10, 20, 30, 40, 50)
tuple(reversed(tuple1))

(50, 40, 30, 20, 10)

In [70]:
#Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [23]:
#Copy specific elements from one tuple to a new tuple
#Write a program to copy elements 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3::-1]
print(tuple2)

(44, 33, 22, 11)

In [24]:
#Convert two lists into a dictionary
#Below are the two lists. Write a Python program to convert them into a dictionary in a way that 
#item from list1 is the key and item from list2 is the value
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
res_dict=dict(zip(keys,values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [25]:
#Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
## use for loop
for i in keys:
    sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [26]:
#Check if a value exists in a dictionary
#Write a Python program to check if value 200 exists in the following dictionary.

sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present')

200 present

In [27]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Orange', 'Green', 'Black', 'Yellow', 'Blue', 'Red'}

Write a program to add sample_list into a given set.
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

In [29]:
##Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.intersection(set2))

{40, 50, 30}

In [ ]:
# set 3

In [33]:
#apply lambda function to filter out vowles from a list

alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
def vowel(x):
    v=['a','e','i','o','u']
    return x in v

b=list(filter(vowel,alphabets))
b

['a', 'e', 'i']

In [34]:
 #apply lambda function to find list of even numbers from a given list
l2=[456,78,987,400,568,887]
evennumbers=list(filter(lambda x :x%2==0,l2))
evennumbers

[456, 78, 400, 568]

In [37]:
#Use map() function to convert elements of lists into uppercase
alist = ['learn', 'python', 'step', 'by', 'step']
out=list(map(lambda x:x.upper(),alist))
out

['LEARN', 'PYTHON', 'STEP', 'BY', 'STEP']

In [38]:
#Write a Python program to calculate the sum of a list of numbers.
list1 = [11, 5, 17, 18, 23]
total=0
for i in range(0,len(list1)):
    total=total+list1[i]
print(total)

74

# Python program to check if strings are rotations of
# each other or not
str1 = "ABACD"
str2 = "CDABA"

In [ ]:
### LMS Problems

In [39]:
## Write a Python program to sort a given dictionary by key.

data = {'banana': 80,'cherry': 20,'apple': 60,'grapes':120}
sorted_result = sorted(data.items())

print(sorted_result)

[('apple', 60), ('banana', 80), ('cherry', 20), ('grapes', 120)]

In [41]:
data.items()

dict_items([('banana', 80), ('cherry', 20), ('apple', 60), ('grapes', 120)])

In [42]:
#Write a python program to create a list and print all the items in reverse index order.
lst = [10, 11, 12, 13, 14, 15]
lst.reverse()
print(lst)

[15, 14, 13, 12, 11, 10]

In [43]:
#Write a Python function that takes two sorted lists and return merged List.
List_1=[7,23,4,0,1]
List_2=[90,3,12,87,43]
List_1.sort()
List_2.sort()
List_1+List_2

[0, 1, 4, 7, 23, 3, 12, 43, 87, 90]

In [44]:
#Write a Python program to remove duplicates from a list
List_3=[2,3,4,3,6,2,7,4]
new_list=set(List_3)
new_list

{2, 3, 4, 6, 7}

In [45]:
#write a python function to check whether the list is Ascending order or not.
n=[56,90,87,54]    #assign list values from input
if sorted(n) == n: #for descending, use sorted(n, reverse=True)
    print("Yes")
else:
    print("No")

No