# introduction to python

# heading1
## heading2
### heading3
#### heading 4

to create bullet points
- variables
* keywords
+ constants

In [1]:
#create a variable 
a=10

In [2]:
type(a)

int

In [4]:
#assign multiple value to multiple variables
a=5;b=6;c=7

In [6]:
#assign same value to multiple variables 
a=b=c=10

In [7]:
#python is case sensitive
Var1=35
var1=45
new=78

In [8]:
new

78

In [9]:
"""this is the sentence for comments
"""
a

10

In [21]:
###int 
x=18

In [22]:
#check data type
type(x)

int

In [23]:
###float
y=1.7

In [24]:
type(y)

float

In [25]:
#add integer and float and check data type
z=x+y

In [26]:
z

19.7

In [18]:
###bool
B=True
type(B)

bool

In [19]:
##complex
C=3+5j
type(C)

complex

In [20]:
##string
S= "hello"
type(S)

str

In [45]:
a= "de" + "1" + "oitte"

In [46]:
a

'de1oitte'

In [47]:
#for multiple outputs use print
print(a)
print(S)
print(x)

de1oitte
hello
18

In [48]:
#different formats of output
print (S ,"i am working in" , a , "for last" , x ,"years.")

hello i am working in de1oitte for last 18 years.

In [49]:
print ("the value of a is {}".format(a))

the value of a is de1oitte

In [50]:
print("welcome")
print("to all")

welcome
to all

In [69]:
print ("welcome" ,end=' ')
print ("to deloitte")

welcome to deloitte

In [70]:
## user input
## input() function
input1= input()

45

In [71]:
type(input1)

str

In [72]:
input1=int(input())

34

In [73]:
type(input1)

int

In [74]:
input2=float(input())

1.6

In [75]:
type(input2)

float

In [78]:
input1=input()
input2=input()

23
34

In [79]:
#split method to write multiple inputs in single line
input3=input("enter two inputs").split(' ')

enter two inputs34 45

In [80]:
input4=input().split()

34

In [81]:
input4

['34']

In [82]:
id(a)

1808760063152

In [ ]:
#hands on exercise

In [41]:
a1= int(input())
a2 = int(input())

32
45

In [2]:
a3=float(input())
print(round(a3,2))

3.4567
3.46

In [4]:
a4=input("enter three strings:").split(',')

enter three strings:hello,welcome,deloitte

In [5]:
a5=float(input())
a6=float(input())
print(a5+a6)

70
60
130.0

In [7]:
a7=input().split(' ')

34 45

In [8]:
print(" shobhit")

 shobhit

In [9]:
a=6;b=7;c=8
print(a);print(b);print(c)

6
7
8

In [11]:
a8=int(input())
a9=int(input())
print(a8+a9)

46
56
102

In [12]:
s="lucky"
print(s)

lucky

In [14]:
prog=input("preferred language ")

preferred language python

In [15]:
a10=input()
a10+"1"
#a10+str(1)

12

'121'

In [16]:
#iterable : ability to do index and write for loop on that object
#indexing and slicing
new="saturday"

In [17]:
new

'saturday'

In [18]:
#extract 't'--> new 
#python index starts from 0
new[2]

't'

In [19]:
#ectract 'u'
new[3]

'u'

In [20]:
#extract 'u' to 'a'
#[start :end] end is exclusive
new[3:7]

'urda'

In [ ]:
#extract 0 to 3rd position

In [21]:
#display all the elements using :
new[:]

'saturday'

In [22]:
new[2:]

'turday'

In [23]:
#negative indexing
new[7]

'y'

In [24]:
new[-1]

'y'

In [25]:
#extract odd position elements
#[start:end:step]
new[1:len(new)+1:2]

'audy'

In [26]:
#extract odd position elements in reverse order
new[::-2]

'ydua'

In [27]:
#strings are immutable
#cannot do changes on a created string object.
first="welcome"
second="to deloitte"

In [29]:
#change first letter into s
first[0:3]+'S'+first[4:]

'welSome'

In [30]:
#add value 7 into string object
second+"7"

'to deloitte7'

In [32]:
#add value 6 to the string object 'second' at 4th position
second[0:4]+'6'+second[4:]

'to d6eloitte'

In [33]:
#display the elemnt of 'first' object 3 times
first*3

'welcomewelcomewelcome'

In [34]:
#add 2 string objects using +
first+second

'welcometo deloitte'

In [35]:
#create a string object str1="welcome to our country"
str1="welcome to our country"

In [36]:
#eXtract country froM sentence
print(str1[15:])

country

In [42]:
#even positions elements
print(str1[0::2])

wloet u onr

In [39]:
#add 6 to third position
print(str1[:3]+'6'+str1[3:])

wel6come to our country

In [44]:
#CHECK GIVEN NO IS LESS THAN 15 OR NOT
num=int(input())
if num<15 :
    print(num,'is less than 15')
print('exit')

12
12 is less than 15
exit

In [46]:
num =int(input())
if num>0:
    print('be positive')
print ('exit')

12
be positive
exit

In [54]:
##prog checks if no is positive or negative
num=int(input())
if num>=0:
    print(num, 'is positive')
else :
    print(num, 'is negative')

0
0 is positive

In [56]:
#CHECK NUMBER IS EVEN OR ADD
num=int(input())
if num % 2==0:
    print("even")
else:
    print("odd")

0
even

In [59]:
##elif statement
num=int(input())
if num >0:
    print (num, 'is positive')
elif num<0:
    print(num, 'is negative')
else :
    print ('zero')

-7
-7 is negative

In [64]:
marks=int(input())
if marks >80:
    print ('distinction')
elif marks >= 60 and  marks <=80:
    print ('FIRST CLASS')
else :
    print ('pass')

44
pass

In [66]:
##nested if else statements
n=int(input())
if n>=0:
    if n==0:
        print('zero')
    else:
        print('positive')
else:
    print('negative')

0
zero

In [68]:
#ELIGIBLE FOR VOTING OR NOT
age =int(input())
if age >=18:
    print('You can give vote')
else :
    print('not eligible')

80
You can give vote

In [72]:
#NUMBER DIVISIBLE BY 7 
num=int(input())
if num % 7==0:
    print ('divisible by 7')
else :
    print ('not divisible by 7')

89
not divisible by 7

In [82]:
#LAST DIGIT DIVISIBLE BY 3
num = int(input("enter any number"))
if (num % 10) % 3 ==0: 
    print ('last digit is divisible by 3')
else :
    print ('not divisible')

144
not divisible

In [79]:
cityname =str(input())
city=cityname.capitalize();
if city.lower == "Delhi":              #we can use lower as well as capitalize syntax
    print ('Red Fort')
elif city.lower == "Agra":
    print ('Taj Mahal')
elif city.lower == "Jaipur":
    print ('Jal Mahal')
else :
    print ('not a valid city')

agra
Taj Mahal

In [85]:
#PRINT ONE DIGIT , TWO DIGIT , THREE DIGIT NUMBER
num=int(input())
if num<10:
    print (num , 'is one digit number')
elif num >= 10 and num <100:
    print ( num ,'is two digit number ')
elif num >=100 and num <1000:
    print (num , ' is three digit number')
else :
    print (num , ' has more than 3 digit')

1000
1000  has more than 3 digit

In [95]:
#MAXIMUM OF 3 NUMBERS
maxl = []
maxn = 0
for i in range (0,3):
    l=int(input())
    maxl.append(l)
    
if maxl[0]==maxl[1]   and maxl[1] == maxl[2]:
    print("all are equal")
elif maxl[0] == maxl[1] or maxl[1] == maxl[2] or maxl[2] == maxl[0]:
    print (" two num are equal")

for num in maxl:
    if num>maxn:
        maxn=num
        
print (maxn)

23
23
21
 two num are equal
23

In [88]:
avgmarks = int(input())
if avgmarks >=70:
    print('DISTINCTION')
elif avgmarks >=60 and  avgmarks <70:
    print ('FIRST')
elif avgmarks >=50 and avgmarks<60:
    print ('SECOND')
elif avgmarks >=40 and avgmarks <50:
    print ('THIRD')
elif avgmarks <40 :
    print ('FAIL')

39
FAIL

In [89]:
#check whether given number lis between 5 and 15
num =int(input())
if num >5:
    if num <=15:
        print ('given number lies between 5 and 15')
    else :
        print(' given number is greater than 15')
else:
    print ('given number is less than 5')

3
given number is less than 5

In [90]:
a=9
if(a>5 and a<=10):
    print ('hello')
else:
    print ('bye')

hello

In [96]:
#max of 3 number another method to solve
n1,n2,n3 =int(input("enter no1:")), int(input("enter no2:")),int(input("enter no3:"))
if n1>n2 and n1>n3 :
    print("no1 is maximum")
elif n2>n3 and n2 >n1:
    print("no2 is maximum")
elif n3>n1 and n3>n2:
    print ("no3 is maximum")
elif n1==n2 and n1>n3:
    print(n1 , 'is the maximum')
elif n2==n3 and n2>n1:
    print( n2 , 'is maximum')
elif n1==n3 and n1>n2:
    print (n3, ' is maximum')
else :
    print ('all are equal')

enter no1:23
enter no2:23
enter no3:21
23 is the maximum

In [98]:
#find average of two numbers entered by user
a= int(input())
b= int(input())

x=(a+b) / 2
print(x)

45
55
50.0

In [99]:
#find remainder when a number is divided by 2
a=int(input())
x=a%2

print(x)

35
1

In [100]:
a=34
b=80

a>b

False

In [101]:
#find square of number given by user
a=int(input())
y= a**2

print (y)

55
3025

In [104]:
#program to show invalid number if number is not between 1 and 10
num= int (input())
if num <1 or num >10:
    print ("invalid number")

77
invalid number

In [105]:
#program to display last digit of number
num=int(input())
x=num%10
print(x)

34
4

In [106]:
#take 2 values from user and print greatest among them
a= int(input())
b=int(input())
if a>b :
    print (a)
else :
    print (b)

23
34
34

In [108]:
#print hello if no multiple of 5 otherwise bye
a=int(input())

if a%5 ==0:
    print ("hello")
else :
    print ("bye")

45
hello

In [111]:
units =int(input())
if units <=100:
    bill=0
    print(bill)
elif units >100 and units <=200:
    bill = (units -100)*5
    print(bill)
elif units >200 :
    bill = 500 + ((units - 200)*10)
    print (bill)

1671
15210