### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
         - Set
        
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [ ]:
# Create an empty list

In [ ]:
# create a list with int data types

In [1]:
# create a list with string data type 
newlist2 = ['hi', 'he']
newlist2

['hi', 'he']

In [6]:
# create a list with mixed data types
newlist3=[1,'h',True]
newlist3

[1, 'h', True]

In [8]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]
ls3[0]=3
ls3

[3, 6.5, 'age', True]

In [9]:
# Extract 'age' from the list ls3
ls3[2]

'age'

In [11]:
# Extract 'e'  from the list ls3
ls3[2][2]

'e'

In [14]:
# Extract 'age',True from the list ls3
ls3[2:4]

['age', True]

In [15]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.
ls4[2]

[3, 4]

In [23]:
first=[2,34,5,[56,81,[43,89],67],10]
# extract [43,89]
# extract 89
first[3][2]

[43, 89]

In [24]:
# extract [43,89]
first[3][2]

[43, 89]

In [25]:
# extract 89
first[3][2][1]

89

In [26]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]

newlist1.extend(newlist2)
print(newlist1)

[1, 2, 3, 5, 6]

In [29]:
# append
newlist3=[6,7,8]
newlist4=[9,10]

newlist3.append(newlist4)
print(newlist3)

[6, 7, 8, [9, 10]]

In [30]:
newlist3+newlist4

[6, 7, 8, [9, 10], 9, 10]

In [31]:
# insert
#syntax: listobject.insert(index,value)
newlist4.insert(0,12)
newlist4

[12, 9, 10]

In [32]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list
newlist4.pop(0)

12

In [35]:
newlist3.pop(2)

8

In [ ]:
## remove 
# syntax: listobject.remove(value)

In [39]:
list_1= [1,2,'hi','wel', 8]
list_1.remove(2)
list_1

[1, 'hi', 'wel', 8]

In [41]:
first = [2,34,5,[56,81,[43,89],67],10,59,57]
first.remove(59)
first

[2, 34, 5, [56, 81, [43, 89], 67], 10, 57]

In [44]:
##to remove inner list in a list
del(first[3][1])
first

[2, 34, 5, [56, [43, 89], 67], 10, 57]

In [47]:
del(first[3][1][1])
first

[2, 34, 5, [56, [43], 67], 10, 57]

In [48]:
# reverse
# syntax: list object.reverse()
first.reverse()
first

[57, 10, [56, [43], 67], 5, 34, 2]

In [58]:
#index:object.index(value)
# returns the position of the element
first

[57, 10, [56, [43], 67], 5, 34, 2]

In [60]:
### Apply + * on list objects
ls1=[12,23,45,67]
ls2=[34,6,7,8]
print(ls1)
print(ls2)

[12, 23, 45, 67]
[34, 6, 7, 8]

In [61]:
ls1+ls2

[12, 23, 45, 67, 34, 6, 7, 8]

In [62]:
ls1*3

[12, 23, 45, 67, 12, 23, 45, 67, 12, 23, 45, 67]

In [59]:
print(dir(first))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [64]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [65]:
#sorted (function)
sorted(ls6)

[2, 4, 9, 12, 54, 78]

In [68]:
#descending order
sorted(ls6,reverse=True)

In [67]:
ls6

[12, 4, 78, 2, 9, 54]

In [72]:
##sort (method)
ls6.sort()
ls6

[2, 4, 9, 12, 54, 78]

In [73]:
ls6

[2, 4, 9, 12, 54, 78]

In [75]:
##sort method in descending order
ls6.sort(reverse=True)
ls6

[78, 54, 12, 9, 4, 2]

In [76]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [78]:
ls10=ls9
ls10

[1, 2, 5, 2, 1, 3, 2, 10]

In [80]:
ls11=ls9.copy()
ls11

[1, 2, 5, 2, 1, 3, 2, 10]

In [84]:
##if we change omething in original object then change will take place on that list in which we have used = sign
##but not takes place in which we have use copy  
ls9[1]=23
print(ls9)
print(ls10)
print(ls11)

[1, 23, 5, 2, 1, 3, 2, 10]
[1, 23, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [86]:
#split it method
dt="6-6-2022"
#split it by '-'
dt.split('-')

['6', '6', '2022']

In [87]:
# loop
#for loop
for i in ls9:
    print(i,end=" ")

1 23 5 2 1 3 2 10

In [89]:
#List comprehension
# one line expression of for loop
a=[1,2,3,4]
#square of list of a
b=[]
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16]

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop

b=[]
for i in a:
    b.append(i**2)
print(b)

In [91]:
#list comprehension : syntax: [expression for if]
[i**2 for i in a if i>2]

[9, 16]

In [95]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.
[i for i in cities if len(i)>6]

['Chennai', 'Bangalore']

In [93]:
L=[4,7,8,9]
# Add value 5 to each element in the list
[i+5 for i in L]

[9, 12, 13, 14]

In [98]:
# Create a list of elements which is greater than 5 in the given list L
[i for i in L if i>5]

[7, 8, 9]

In [111]:
# Addition of two lists L1 and L2
t1=[1,2,5,78,99]
t2=[34,67,88,45,67]
n=[]
for x in range(0,len(t1)):
    n.append(t1[x]+t2[x])
print(n)

[35, 69, 93, 123, 166]

In [112]:
#list comprehension
[t1[x]+t2[x] for x in range(len(t1))]

[35, 69, 93, 123, 166]

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [114]:
# empty tuple object
tuple1=()
#tuple=tuple()

In [115]:
type(tuple1)

tuple

In [116]:
#create a tuple with elements
t1=(1,'we',True)
type(t1)

tuple

In [118]:
t1

(1, 'we', True)

In [121]:
# extract '4' from t3
t3=(23,4,'e','i')
t3
t3[1]

4

In [122]:
# immutable
t3[0]= 34

TypeError: 'tuple' object does not support item assignment

In [125]:
t3=list(t3)
t3[0]=34
t3

[34, 4, 'e', 'i']

In [127]:
t3=tuple(t3)
type(t3)

tuple

In [129]:
#for loop
for i in t3:
    print(i,end=" ,")

34 ,4 ,e ,i ,

In [ ]:
### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [130]:
# empty dict:
dict1={}
#or dict1=dict()

In [132]:
type(dict1)

dict

In [133]:
#create dict of integer values
d1={'one':1,'two':2,'three':3}
d1

{'one': 1, 'two': 2, 'three': 3}

In [138]:
#create dict of string values 
d2={34: 'hi', 'e':'come', 'h':'all'}
d2

{34: 'hi', 'e': 'come', 'h': 'all'}

In [140]:
#create dict of mixed data types
d2_1={'new1':'hello', 'new2':5,'new3':[7,8],'new4':('the',87)}
d2_1

{'new1': 'hello', 'new2': 5, 'new3': [7, 8], 'new4': ('the', 87)}

In [141]:
d3={'first':6,'second':9,'third':'hello'}
d3

{'first': 6, 'second': 9, 'third': 'hello'}

In [144]:
d4={'first':[5,6,7],'second' : ["a","b"],'third':(7,8,0),'fourth':['hello']}
d4

{'first': [5, 6, 7],
 'second': ['a', 'b'],
 'third': (7, 8, 0),
 'fourth': ['hello']}

In [145]:
d4.values()

dict_values([[5, 6, 7], ['a', 'b'], (7, 8, 0), ['hello']])

In [146]:
d4.items()

dict_items([('first', [5, 6, 7]), ('second', ['a', 'b']), ('third', (7, 8, 0)), ('fourth', ['hello'])])

In [149]:
#extract [5,6,7] from d4.
d4['first']

[5, 6, 7]

In [150]:
#extract 6
d4['first'][1]

6

In [152]:
#extract 'b'
d4['second'][1]

'b'

In [155]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'
d5['one']['el_one'][3]['el_two']

'z'

In [160]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'
#extract 8
d6['new'][3][1]

'merge'

In [159]:
d6['mid']['ravi']

8

In [179]:
# for loop
for i,L in d6.items():
    print(i,L)

new [7, 4, 5, ['split', 'merge', 10]]
old ('s', 17, 0)
middlee {'ram': 4, 'ravi': 8}

In [170]:
#mutable
d6['new'][0]=7
d6

{'new': [7, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'mid': {'ram': 4, 'ravi': 8}}

In [171]:
print(dir(d6))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [178]:
# using pop() method to rename the key names in the dictionary
d6['middlee']=d6.pop('middle')
d6.keys()

dict_keys(['new', 'old', 'middlee'])

In [ ]:
### Sets
- Unordered sequence of elements

- create set objects by using {} or set()

- sets are immutable

In [180]:
# create empty set
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [181]:
s3={"Monday","Tuesday","Wednesday","Thursday","Friday"}
type(s3)

set

In [184]:
s4=set(["Monday","Tuesday","Wednesday","Thursday","Friday"])

In [191]:
# add element in the set s4.
s4.add("Saturday")
s4

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [194]:
s4.add("sunday")
s4

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday', 'sunday'}

In [196]:
#update
s4.update(["day1","day2", "day 3"])
print(s4)

{'Friday', 'Tuesday', 'day2', 'Saturday', 'day1', 'day 3', 'sunday', 'Wednesday', 'Thursday', 'Monday'}

In [206]:
# removing the items
s4.remove('day 3')
s4

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday', 'sunday'}

In [211]:
s4.pop()

'Tuesday'

In [212]:
s4.discard("Monday")
s4

{'Saturday', 'Thursday', 'Wednesday', 'sunday'}

In [215]:
s5=set([1,2,2,3,3,4,4,5])
s5

{1, 2, 3, 4, 5}

### Set operations
- Union

- Intersection

- Difference

- Symmetric difference

In [216]:
#union
Days1={'Monday',"Tuesday","Wednesday","Thursday","Sunday"}
Days2={"Friday","Saturday","Sunday"}
Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [217]:
#intersection
Days1.intersection(Days2)

{'Sunday'}

In [218]:
# difference :elements in one set which are all not in another set
A={10,20,30,40,50}
B={100,30,50,40,60}
A.difference(B)

{10, 20}

In [220]:
B.difference(A) ##B-A

{60, 100}

In [221]:
# Symmetric difference:give element except common elements
A.symmetric_difference(B)##A^B

{10, 20, 60, 100}

In [222]:
B.symmetric_difference(A) ##B^A

{10, 20, 60, 100}

In [223]:
# for loop
for i in s4:
    print(i)

Saturday
sunday
Wednesday
Thursday

In [225]:
### map and filter function
square=lambda x:x**2
#map function: map square function
b=[2,3,4]
# map(fun,iterable)
list(map(square,b))

[4, 9, 16]

In [226]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']
list(filter(lambda x:x[0]!='s',seq))

['food', 'great']

--------------------------------------------------End--------------------------------------------------------------