#1. Write a Pandas program to extract items at given positions of a given series.

Sample Input: input1: Series of list, input 2: position (list)

a b c d e f g h i j k l m n o p q r s t u v w x y z 

0 5 9 

Sample Output 

0     a 

4     f 

8     j

In [9]:
import pandas as pd
lst=list()
n=int(input("enter no elements:"))
for i in range(0,n):
    l=input()
    lst.append(l)
num_series = pd.Series(lst)
element_pos = [0,5,9]
print("Original Series:")
print(num_series)
result = num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

enter no elements:26
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
Original Series:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Extract items at given positions of the said series:
0    a
5    f
9    j
dtype: object

In [ ]:
#2. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [15]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
ds_add=ds1+ds2
print("addition of series")
print(ds_add)
ds_sub=ds1-ds2
print("subtraction")
print(ds_sub)
ds_mul=ds1*ds2
print("multiplication")
print(ds_mul)
ds_div=ds1/ds2
print("division")
print(ds_div)

addition of series
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtraction
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiplication
0     2
1    12
2    30
3    56
4    90
dtype: int64
division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [ ]:
#3.
Write a Pandas program to change the data type of given a column or a Series.

Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [26]:
import pandas as pd
lst=list()
n=int(input("enter no of repurcussions you want"))
for i in range (0,n):
    l=input()
    lst.append(l)
s1 = pd.Series(lst)
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

enter no of repurcussions you want5
100
200
python
300.12
400
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [ ]:
# 4. Write a Pandas program to change the order of index of a given series.

In [28]:
s=pd.Series(data = [1,2,3,4,5], index=['A','B','C','D','E'])
print(s)
s=s.reindex(index=['P','Y','T','H','O','N'])
print("data series after changing the order of index")
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
data series after changing the order of index
P   NaN
Y   NaN
T   NaN
H   NaN
O   NaN
N   NaN
dtype: float64